.FVContainer {
    text-align: center;
}
.FVPodiumContainer {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.FVPodiumPic3 > img {
    width: 100px;
}
.FVPodiumPic1 > img {
    width: 100px;
}
.FVPodiumPic2 > img {
    width: 100px;
}

.FVFeedCatPics > img{
 width: 150px;
 margin-top: 100px;
}