.FVContainer {
    text-align: center;
}
.FVPodiumContainer {
    display:flex; 
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 600px;
}
.FVPodium3, .FVPodium1, .FVPodium2 {
    flex-direction: column;
    width: 140px;
    border-bottom: 2px solid black;
}
.FVPodium3 {
    height: 180px;
    /* border: 1px solid black; */
    
}
.FVPodium1 {
    height: 220px;
    /* border: 1px solid black; */
    
}
.FVPodium2 {
    height: 200px;
    /* border: 1px solid black; */
    
}

.FVPodiumPic3 > img, .FVPodiumPic1 > img, .FVPodiumPic2 > img {
    width: 120px;
}


.FVFeedCatPics > img{
 width: 150px;
 margin-top: 100px;
}