.FVContainer {
  text-align: center;
  background-image: url("/img/background1.png");
  background-size: contain;
}

.FVContainer>h1,h2 {
  font-family: 'Black Han Sans', sans-serif;
}

.FVPodiumDropDown {
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  font-weight: bold;
}
.FVPodiumContainer {
  /* display: flex;
  align-items: flex-end;
  justify-content: center; */
  display: grid;
  grid-template: 3, 1fr;
  grid-template-areas: 'item2 item1 item3';
  margin: auto;
  padding: 20px;
  width: 600px;
  margin-bottom: 180px;
  margin-top: 20px;
}

.FVPodium1,
.FVPodium2,
.FVPodium3 {
  flex-direction: column;
  width: 155px;
  align-self: end;
  justify-self: center;
}

.FVPodium2 {
  justify-self: end;
}
.FVPodium3 {
  justify-self: start;
}

.FVPodiumNameNum2 {
  height: 80px;
}
.FVPodiumNameNum1 {
  height: 100px;
}
.FVPodiumNameNum3 {
  height: 60px;
}
.FVPodium2 {
  height: 200px;
  font-size: 130%;
  grid-area: item2;
}

.FVPodium1 {
  height: 220px;
  font-size: 150%;
  grid-area: item1;
}

.FVPodium3 {
  height: 180px;
  font-size: 120%;
  grid-area: item3;
}

.FVPodiumPic > img {
  width: 125px;
  border: 5px #c9beff ridge;
  border-radius: 3px;
}
.FVPodiumPic > img:hover {
  border: 7px #c9beff ridge;
  cursor: pointer;
}

.FVPodiumNameNum1,
.FVPodiumNameNum2,
.FVPodiumNameNum3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #937eff;
  border-radius: 3px;
  background-color: #c9beff;
  font-family: 'Black Han Sans', sans-serif;
}

/* .FVPodiumName2, .FVPodiumName1, .FVPodiumName3  {
   
} */

/* .FVPodiumNum2,
.FVPodiumNum1,
.FVPodiumNum3 {
  font-weight: bold;
} */
.FVPodiumNum1 {
  font-size: 160%;
}
.FVPodiumNum2 {
  font-size: 200%;
}
.FVPodiumNum3 {
  font-size: 140%;
}

.FVFeedCatPics > img {
  width: 450px;
  border: solid 4px black;
  border-radius: 3px;
  margin-top: 10px;
}
.FVFeedCatPics > img:hover {
  cursor: pointer;
  border: solid 5px black;
}

.FVFeedFirstText {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}
.FVFeedCatName {
  margin-right: 30px;
  font-weight: bold;
  font-family: 'Black Han Sans', sans-serif;
  margin-bottom: -4px;
}
.FVFeedCatAgeRace {
  color: rgb(54, 54, 54);
  font-size: 90%;
}
.FVFeedCatRating {
  margin-left: 30px;
}

.FVFeedRatedTimes {
  font-size: 70%;
  align-self: end;
  margin-right: 20px;
  margin-top: -18px;
  margin-bottom: 5px;
}

/* .FVFeedCatCommentBox {
  resize: none;
  overflow: hidden;
  outline: none;
  width: 330px;
  height: 30px;
  padding: 15px;
  background-color: #ffdde7;
  border: 4px solid black;
  border-radius: 50px;
  margin-top: 5px;
  font-family: Arial, sans-serif;
}
.FVFeedCatCommentBox:hover {
  background-color: #f8c5d5;
} */
.FVCommentBubble {
  /* height: 50px; */
  width: 94%;
  cursor: pointer;
}
/* Styled in main:
Star
Polaroid */

/* .FVFeedCatInteractiveStars:hover {
  flex-direction: row;
} */

/* .FVStars {
  padding: 3px;
} */

/* .FVFeedCatInteractiveStars div::before {
  position: relative;
  content: url("/img/star-empty.png");
  cursor: pointer;
}

.FVFeedCatInteractiveStars div:hover:before,
.FVFeedCatInteractiveStars div:hover ~ div:before {
  position: relative;
  content: url("/img/star-filled-in.png");
} */

.FVFeedPolaroidLoop {
  display: flex;
  justify-content: center;
}
