.PF-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.PF-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 100px;
}

.PF-profilePic {
  height: 300px;
  width: 300px;
  margin-bottom: 25px;
  border: 6px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.PF-editButton {
  background-color: #89dceb;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid black;
  border-bottom: 8px solid black;
  border-right: 6px solid black;
}
.PF-editButton:hover {
  cursor: pointer;
}

.PF-cats {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.PF-username {
  font-size: 36px;
  padding-bottom: 50px;
}
.Ppolaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  border: 4px solid black;
  border-radius: 10px;
  font-size: 170%;
  background-color: #89dceb;
  border-bottom: 12px solid black;
  border-right: 10px solid black;
}
.PimgDiv > img {
  width: 250px;
  height: 250px;
  border: solid 4px black;
  border-radius: 3px;
  object-fit: cover;
}
.PimgDiv > img:hover {
  cursor: pointer;
}

.PF-bio {
  padding: 10px;
  border: 4px solid black;
  border-bottom: 12px solid black;
  border-right: 10px solid black;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-color: #ffe0ea;
}

.PE-bio {
  resize: none;
  padding: 10px;
  border: 4px solid black;
  border-bottom: 12px solid black;
  border-right: 10px solid black;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-color: #ffe0ea;
}
.PE-editButton {
  background-color: #89dceb;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid black;
  border-bottom: 8px solid black;
  border-right: 6px solid black;
}
.PE-editButton:hover {
  background-color: #a4e2ec;
  cursor: pointer;
}

.PE-profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin-bottom: 25px;
  border: 6px solid black;
  border-radius: 50%;
  background-color: #ffe0ea;
}
.PE-profilePic:hover {
  cursor: pointer;
  background-color: #fcb1c9;
}
.PEIcon {
  font-size: 350%;
  position: absolute;
  color: black;
  text-align: center;
  cursor: pointer;
}
.PEFile-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.PE-uploadImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
