body {
  background-color: #fff46f;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
    background-image: url('/img/background1.png');
    height: 100vh;
    width: 100vw;
  background-size: 100% repeat;
  background-position: center;
}

.stylePolaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 670px;
  border: 4px solid black;
  border-radius: 10px;
  font-size: 170%;
  background-color: #89dceb;
  border-bottom: 12px solid black;
  border-right: 10px solid black;
}

.styleStar {
  text-shadow: 2px 2px 0 #000000;
  font-size: 90%;
}

.styleCatInteractiveStars {
  display: flex;
  flex-direction: row-reverse;
  float: right;
}
.styleCatInteractiveStars div {
  position: relative;
  content: url('/img/star-empty.png');
  cursor: pointer;
}

.styleCatInteractiveStars .filled {
  content: url('/img/star-filled-in.png');
}
.styleCatInteractiveStars div:hover,
.styleCatInteractiveStars div:hover ~ div {
  content: url('/img/star-filled-in.png');
}
